


<h1>Lista en tiempo real</h1>
<!--{{#each data}}
    <h1>{{this.title}}</h1>
    <h2>{{this.code}}</h2>
    <h3>{{this.description}}</h3>
    <p>{{this.price}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
{{/each}}-->


<div id='container'></div>

<script src='/socket.io/socket.io.js'></script>
<script src='/static/script/index.js'></script>